@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@100&family=Twinkle+Star&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
}

.bg {

    background: url('photos/wp1867319-john-wick-4k-wallpapers.jpg') no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);

}

.loading-text {
    font-size: 50px;
    color: white;
}